.vim/.netrwhist
.vim/backup
.vim/bundle/avro-vim
.vim/bundle/neocomplcache.vim
.vim/bundle/neomake
.vim/bundle/nimrod.vim
.vim/bundle/rust.vim
.vim/bundle/tagbar
.vim/bundle/vim-airline
.vim/bundle/vim-devicons
.vim/bundle/vim-go
.vim/tmp
.vim/undo
.vim/viminfo
